/*Styling for navbar*/
body{
    font-family: 'PT Sans', sans-serif;
    background-color: white;
    margin: 0;
    color: #770303;
    line-height: 1.6;
}
a{
    text-decoration:  none;
    color: #6C0808;
    /*font-weight:bold;*/
}
#showcase{
    margin: 0;
    padding: 0;
    background: url("../img/home_banner.jpg") no-repeat center/cover;
    width: 100%;
     height: 100vh;
     position: relative;   
     overflow-y: hidden;
 }
     #showcase .banner{
        margin-top: 25vh;
     }
     #showcase h1{
        font-size: 4rem;
        margin-bottom: 0;
     }
     #showcase h2{
        font-size: 2rem;
     }
nav{
    height: 40px;
    width: 100%;
    background-color: #AF1616;
    color: rgb(51, 34, 34);
    position: fixed;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav li{
    display:  inline;
    float:  left;
}
nav a{
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #eee;
}
nav li:hover{
    background-color: #8B1313;
}
.banner{
    max-width: 1180px;
    text-align: center;
    margin: 0 auto;
    padding: 0 3rem;
}
.big-sentence{
    font-size: 1.3rem;
    font-weight: bold;
}
footer .footer-bottom{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    padding: 2rem;
    text-align: left;
    font-size: 14px;
}
footer .footer-bottom ul{
    list-style: none;
    font-weight:bold;
}
footer .footer-bottom ul li:first child{
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    border-bottom: #444 solid 4px;
    margin-bottom: 1rem;
}
footer .footer-down{
    background-color: #6C0808;
    padding: 0.5rem;
    text-align: center;
    color:  white;
}
 
 /* Styling for Contact page*/
 body {
     width: 100%;
     height: 100vh;
 }
 
 .container {
     font-family: 'Open Sans Condensed', sans-serif;
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
 }
 
 .container:after {
     content: '';
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background: url("../img/contactus-img.jpg") no-repeat center;
     background-size: cover;
     z-index: -1;
     filter: blur(5px);
 }
 
 
 .contact-form {
     width: 100%;
     max-width: 500px;
     height: auto;
     border-radius: 8px;
     background: rgba(236, 229, 229, 0.5)
 }
 
 .title {
     text-align: center;
     font-size: 3em;
 }
 
 .inputs {
     justify-content: left;
     padding: 10px 10px;
 } 
 .input:focus {
     outline: none;
 }
 
 .text-area:focus {
     outline: none;
 }
 
 .inputs .fields {
     width: 100%;
     padding: 10px 10px;
 }
 
 .inputs .fields .label {
     display: block;
     font-size: 1.5em;
     padding-bottom: 5px;
 }
 
 .btn {
     text-align: center;
     font-size: 2em;
     padding-bottom: 8px;
     border: 0;
     border: 1px solid #fff;
     text-decoration: none;
     border-radius: 8px;
     margin: 20px 125px;
 }
 
 .inputs .input, .inputs .fields .text-area {
     background: transparent;
     border: 0;
     border: 1px solid #fff;
     color: #fff;
     border-radius: 5px;
     font-size: 2em;
 }
