<DOCTYPE HTML>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="AI Platform to Monitor Heart Health">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="../static/css/styles.css">
        <title>Contact</title>
    </head>
    <body>
        <header>
            <nav>
                <ul class="nav__links">
                    <li><a href="home.html">Home</a></li>
                    <li><a href="patient.html">Patient</a></li>
                    <li><a href="physician.html">Physician</a></li>
                    <li><a href="contact.html" class="activePage">Contact</a></li>
                </ul>
            </nav>
            <div class="signup-btn"><a href="/login">Sign Up</a></div>
        </header>
        
        <div class="bg"></div>

        <div class="container"> 
            <div class="wrapper">
                <div class="contact-form">
                    <div class="title">Contact Us</div>
                        <div class="inputs">
                            <div class="fields">
                                <label for="name" class="label">Name</label>
                                <input id="name"type="text" class="input">
                            </div>
                            <div class="fields">
                                <label for="email" class="label">Email</label>
                                <input id="email"type="text" class="input">
                            </div>
                            <div class="fields">
                                <label for="message" class="label">Message</label>
                                <textarea id="message" class="text-area"></textarea>
                            </div>
                        </div>
                    <div class="btn">Submit</div>
                </div>
            </div>
        </div>

        <footer>
        
            <div class="footer-down">
                Copyright &copy; 2022 QoLT
            </div>
        </footer>
    </body>
</html>
