<!DOCTYPE HTML>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="AI Platform to Monitor Heart Health">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="../static/css/styles.css">
        <title>Home</title>
    </head>
    <!-- Comment: everything visible happens within the body brackets, as a reminder -->
    <body>
        <header>
            <!-- Nav is just the main block of navigation links, currently that top banner-->
            <nav>
                <ul class="nav__links">
                    <li><a href="/" class="activePage">Home</a></li>
                    <li><a href="/patient">Patient</a></li>
                    <li><a href="/doctor">Physician</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
            <a href="/login">Login</a>
            <a href="/logout">Logout</a>
        </header>

        <!-- This block of code is for the hero image/banner on the home page-->
        
        <div class="home-container">
            <div class="Banner-Image">
                <h1>
                    AI Platform to Monitor Heart Health
                </h1>                
            </div>
            
            <div class="p1">
                <h3>About Sleep Apnea and Heart Health</h3>
                Heart disease is the leading cause of death for both men and women in the United States. Coronary artery disease (CAD) 
                is the most common type of heart disease. 
                According to the CDC, every year, approximately 805,000 people  
                have a heart attack and 659,000 people die from heart disease in the United States. 
                <b>Patients with sleep apnea</b> are more likely to develop arrhythmia and <b>have increased risk of heart failure and coronary heart disease.</b> 
            </div>

            <div class="p2">
                <h3>Keeping Track of Heart Health</h3>
                Approximately <b>1 in 5 heart attacks are silent.</b> A reliable way to monitor sleep apnea and heart health is through measuring heart rate. If there are detected 
                irregularities in heart rate, it may be a sign of concern. This web portal allows patients and physicians to <b>keep track of
                health reports by monitoring ECG data. </b> This web portal allows for both patients and physicians to have 24/7 remote access to the patients' health 
                reports. Each physician will have access to health reports that indicates any arrythmias for each of their patients. The health reports are dynamically updated in real time so if there is a detected health risk, physicians can be notified.  
            </div>
            
            <div class="p3">
                <h3>How the Platform Works</h3>
                The web portal utilizes a platform that analyzes ECG acquired from single lead devices.
                Examples of single lead devices are Apple watch (ECG enabled), Fitbit Sense, etc. 
                The platform is device agnostic. 
                Unlike many of the device providers, the platform diagnoses several types of arrhythmia conditions. 
                The reports generated using Artificial Intelligence are accessible to general physicians and specialists.
                The platform also connects patients with specialists for consultation.
            </div>


        </div>
        
        <footer>
        
            <div class="footer-down">
                Copyright &copy; 2022 QoLT
            </div>
        </footer>
    </body>
</html>
